.sheet-main {
    display: grid;
    text-align: center;
    width: 800px;
    height: 900px;
    grid-gap: 4px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: max-content max-content;
    grid-template-areas:
            "hd hd hd hd"
            "tb tb tb tb";
}

.sheet-header-section {
    display: grid;
    width: 800px;
    grid-template-areas: "logo   info    info   info"
}

/*----------------- GENERAL CSS ------------------*/

h1 {
    background-color: #ee3227;
    color: white;
}

textarea {
    width: 90%;
    height: 85%;
}

.sheet-section {
    padding: 5px;
    border-style: solid;
    border-color: #ae3227;
}


.sheet-tabs {
    grid-area: tb;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content auto auto auto auto;
    grid-template-areas:
            "tab-input tab-input tab-input tab-input tab-input tab-input tab-input tab-input"
            "tab-area tab-area tab-area tab-area tab-area tab-area tab-area tab-area";
}

div.sheet-tab-content {
    display: none;
}

input.sheet-gear-tab:checked ~ div.sheet-gear-tab {
    grid-area: tab-area;
    width: 800px;
    display: grid;
    grid-template-areas:
            "gear cyber";
    grid-template-columns: auto auto;
}

input.sheet-life-path-tab:checked ~ div.sheet-life-path-tab {
    grid-area: tab-area;
    width: 800px;
    display: grid;
}

.sheet-gear {
    grid-area: gear;
    border-right-width: 0;
}

.sheet-cyber {
    grid-area: cyber;
}

input.sheet-stats-and-equip-tab:checked ~ div.sheet-stats-and-equip-tab {
    grid-area: tab-area;
    display: grid;
    grid-template-areas:
            "stats-section  stats-section   stats-section   stats-section"
            "armor  armor   weapon weapon";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: max-content max-content;
}


input.sheet-tab {
    width: 150px;
    height: 20px;
    position: relative;
    margin: 0 0 -1.5px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab::before {
    content: attr(title);
    border: 1px solid #ae3227;
    border-bottom-width: 2px;
    text-align: center;
    display: inline-block;
    background: #ee3227;
    color: white;
    width: 150px;
    height: 20px;
    font-size: 18px;
    position: relative;
    top: -2px;
}

input.sheet-tab:checked::before {
    background: #ae3227;
}

div.sheet-tab-content {
    border: none;
    border-top-color: #000;
    margin: 0;
    padding: 0;
}

.sheet-flex-col {
    display: flex;
    flex-flow: column wrap;
}

.sheet-flex-center {
    align-items: center;
    justify-content: center;
}

/*------------- Section-specific CSS -------------*/

/*------------- Info section -------------*/
.sheet-info {
    grid-area: info;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}

.sheet-info span {
    font-weight: bold;
    background-color: #ee3227;
    color: white;
}

.sheet-logo {
    grid-area: logo;
    flex-direction: column;
}

/*------------- Stats section -------------*/

.sheet-stats-section {
    grid-area: stats-section;
    display: grid;
    grid-gap: 4px;
    grid-template-areas:
            "stats"
            "hitbox";
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;
}

.sheet-stats {
    grid-area: stats;
    display: grid;
    grid-row-gap: 2px;
    grid-column-gap: 20px;
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-items: start;
}

.sheet-merge-input-right {
    display: inline-block;
    float: left;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.sheet-merge-input-middle {
    display: inline-block;
    float: left;
    border-radius: 0;
    border-left:0;
}

.sheet-merge-input-left {
    display: inline-block;
    float: left;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left:0;
}

.sheet-stats-section span {
    font-weight: bold;
}

.sheet-hitbox {
    grid-area: hitbox;
    display: grid;
}

.sheet-location {
    grid-area: location;
}

.sheet-armor-sp {
    grid-area: armor-sp;
}

.sheet-hitbox-table {
    border: 1px solid;
}

.sheet-save-table {
    grid-area: save-table;
    border-style: solid;
    border-width: 1px;
}

.sheet-btm-table {
    grid-area: btm-table;
    border-style: solid;
    border-width: 1px;
}

.sheet-save-table div, .sheet-btm-table div, .sheet-hitbox-table div {
    border-style:solid;
    border-width: 1px;
}

.sheet-save-table input, .sheet-btm-table input, .sheet-hitbox-table input {
    border-style: none;
}

/*----------- Wounds section -----------*/
.sheet-hp {
    grid-area: hp;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: max-content max-content max-content max-content max-content;
    grid-template-rows: max-content max-content;
}

/* ------- Armor ------ */
.sheet-armor {
    grid-area: armor;
    border-top: none;
    border-right: none;
}

.sheet-armor span {
    font-weight: bold;
}

.sheet-options {
    display: none;
    border-top: 2px dashed gold;
}

input.sheet-options-flag {
    position: absolute;
    top: -10%;
    right: 0;
    width: 18px;
    height: 18px;
}

input.sheet-options-flag:checked ~ .sheet-options {
    display: inherit;
}

.repcontainer {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.sheet-weapon {
    grid-area: weapon;
    border-top: none;
}

input.sheet-skills-tab:checked ~ div.sheet-skills-tab {
    grid-area: tab-area;
    display: grid;
    grid-template-areas: "skills";
    grid-template-columns: max-content;
    grid-template-rows: max-content;
}

.sheet-skills {
    grid-area: skills;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto auto;
}

.sheet-skills-table-column {
    width: 200px;
}

button[type="roll"].sheet-roll-btn, button[type="action"] {
    background-color: transparent;
    border: none;
    font-size: 12px!important;
    line-height: 12px;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-weight: bold;
    color: #ae3227;
}

button[type="roll"].sheet-roll-btn:focus, button[type="action"]:focus {
    outline: none;
}


button[type="roll"]:hover, button[type="action"]:hover {
    color: #ee3227;
}

button[type="roll"].sheet-single-shot:before, button[type="roll"].sheet-melee-attack:before, button[type="roll"].sheet-brawling-attack:before {
    font-family: "Pictos Custom";
    content: "t";
}

button[type="roll"].sheet-burst:before {
    font-family: "Pictos Custom";
    content: "ttt";
}

button[type="roll"].sheet-auto-fire:before {
    font-family: "Pictos";
    content: "`";
}

input.sheet-hide-burst-auto:checked ~ button.sheet-burst,
input.sheet-hide-burst-auto:checked ~ button.sheet-auto-fire,
input.sheet-hide-burst-auto:checked ~ button.sheet-melee-attack,
input.sheet-hide-burst-auto:checked ~ button.sheet-brawling-attack{
    display: none;
}

input.sheet-show-burst-auto:checked ~ button.sheet-melee-attack,
input.sheet-show-burst-auto:checked ~ button.sheet-brawling-attack{
    display: none;
}

input.sheet-show-melee:checked ~ button.sheet-burst,
input.sheet-show-melee:checked ~ button.sheet-auto-fire,
input.sheet-show-melee:checked ~ button.sheet-single-shot,
input.sheet-show-melee:checked ~ button.sheet-brawling-attack{
    display: none;
}

input.sheet-show-melee:checked ~ button.sheet-melee-attack{
    display: inline;
}

input.sheet-show-brawling:checked ~ button.sheet-burst,
input.sheet-show-brawling:checked ~ button.sheet-auto-fire,
input.sheet-show-brawling:checked ~ button.sheet-single-shot,
input.sheet-show-brawling:checked ~ button.sheet-melee-attack{
    display: none;
}

input.sheet-show-brawling:checked ~ button.sheet-brawling-attack{
    display: inline;
}

input.sheet-show-burst-auto:checked ~ button.sheet-burst,
input.sheet-show-burst-auto:checked ~ button.sheet-auto-fire {
    display: inline;
}


div.sheet-skill-row {
    display: grid;
    grid-template-columns: 100px auto auto;
}

div.sheet-skill-row div:first-child {
    justify-self: left;
}

div.sheet-skill-row div:nth-child(3) {
    justify-self: left;
}
div.sheet-skill-row div:nth-child(2) {
    justify-self: right;
}

div.sheet-skill-row.sheet-header div{
    justify-self: center;
    font-weight: bold;
}

button.sheet-roll-btn::before {
    content: ""!important;
}

