.sheet-main {
    display: grid;
    text-align: center;
    width: 800px;
    height: 900px;
    grid-gap: 4px;
    grid-template-columns: max-content max-content max-content max-content;
    grid-template-rows: max-content max-content;
    grid-template-areas:
            "logo   info    info   info"
            "tb tb tb tb";
}

/*----------------- GENERAL CSS ------------------*/

h1 {
    background-color: black;
    color: white;
}

textarea {
    width: 90%;
    height: 85%;
}

.sheet-tabs {
    grid-area: tb;
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: min-content min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas:
            "tab-input tab-input tab-input tab-input tab-input tab-input tab-input tab-input"
            "tab-area tab-area tab-area tab-area tab-area tab-area tab-area tab-area";
}

div.sheet-tab-content {
    display: none;
    grid-area: tab-area;
}

input.sheet-stats-and-equip-tab:checked ~ div.sheet-stats-and-equip-tab {
    grid-area: tab-area;
    display: grid;
    grid-template-areas:
            "stats-section  stats-section   stats-section   stats-section"
            "armor  armor   weapon weapon";
    grid-template-columns: max-content max-content max-content max-content;
    grid-template-rows: max-content max-content;
}

input.sheet-tab {
    width: 150px;
    height: 20px;
    position: relative;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab::before {
    content: attr(title);
    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    display: inline-block;
    background: #fff;
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    width: 150px;
    height: 20px;
    font-size: 18px;
    position: relative;
    top: -1px;
}

input.sheet-tab:checked::before {
    background: #dcdcdc;
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child) + span::before { border-left: none; }


input.sheet-skills-tab:checked + span::before {
    background: #dcdcdc;
    background: linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
    border-bottom-color: #fcecec;
}

div.sheet-tab-content {
    border: none;
    border-top-color: #000;
    margin: 0;
    padding: 0;
}

div.sheet-skills-tab { background-color: #fcecec; }

.sheet-section {
    padding: 5px;
    border-style: solid;
}

.sheet-flex-col {
    display: flex;
    flex-flow: column wrap;
}

.sheet-flex-center {
    align-items: center;
    justify-content: center;
}

/*------------- Section-specific CSS -------------*/

/*------------- Info section -------------*/
.sheet-info {
    grid-area: info;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}

.sheet-info span {
    font-weight: bold;
    background-color: black;
    color: white;
}

.sheet-logo {
    grid-area: logo;
    flex-direction: column;
}

/*------------- Stats section -------------*/

.sheet-stats-section {
    grid-area: stats-section;
    display: grid;
    grid-gap: 4px;
    grid-template-areas:
            "stats stats wounds"
            "save hitbox wounds";
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content max-content;
}

.sheet-stats {
    grid-area: stats;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-items: start;
}

.sheet-merge-input-right {
    display: inline-block;
    float: left;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.sheet-merge-input-middle {
    display: inline-block;
    float: left;
    border-radius: 0;
    border-left:0;
}

.sheet-merge-input-left {
    display: inline-block;
    float: left;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left:0;
}

.sheet-stats-section span {
    font-weight: bold;
}

.sheet-hitbox {
    grid-area: hitbox;
    display: grid;
    grid-template-areas:
        "location hitbox-table"
        "armor-sp hitbox-table";
}

.sheet-location {
    grid-area: location;
}

.sheet-armor-sp {
    grid-area: armor-sp;
}

.sheet-hitbox-table {
    grid-area: hitbox-table;
    border-style: solid;
    border-width: 1px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
}

.sheet-save {
    display: grid;
    grid-area: save;
    grid-gap: 3px;
    grid-template-areas: "save-table btm-table";
    grid-template-columns: auto auto;
}

.sheet-save-table {
    grid-area: save-table;
    border-style: solid;
    border-width: 1px;
}

.sheet-btm-table {
    grid-area: btm-table;
    border-style: solid;
    border-width: 1px;
}

.sheet-save-table div, .sheet-btm-table div, .sheet-hitbox-table div {
    border-style:solid;
    border-width: 1px;
}

.sheet-save-table input, .sheet-btm-table input, .sheet-hitbox-table input {
    border-style: none;
}

/*----------- Wounds section -----------*/
.sheet-wounds {
    grid-area: wounds;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: max-content max-content max-content max-content max-content;
    grid-template-rows: max-content max-content;
}

.sheet-wounds div {
    align-items: center;
    justify-items: start;
    font-weight: bold;
}

.sheet-wounds input[type="radio"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio */
.sheet-wounds input[type="radio"] + span::before {
    margin-right: 0;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px #ccc;
    background: white;
    content: " ";
    width: 10px;
    height: 15px;
    font-size: 24px;
}

.sheet-wounds input[type="radio"]:checked + span::before {
    background: red;
    content: " ";
}
/* ------- Armor ------ */
.sheet-armor {
    grid-area: armor;
}

.sheet-armor span {
    font-weight: bold;
}

.sheet-options {
    display: none;
    border-top: 2px dashed gold;
}

.sheet-options-flag {
    position: absolute;
    top: -10%;
    right: 0;
    width: 18px;
    height: 18px;
}

.sheet-options-flag:checked ~ .sheet-options {
    display: inherit;
}

.repcontainer {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.sheet-weapon {
    grid-area: weapon;
}

